In [6]:
import pandas as pd
import numpy as np
from altitudo import altitudo

In [7]:
!pip install xarray
!pip install netcdf4

Requirement already satisfied: xarray in /Users/vaishaligupta/opt/anaconda3/lib/python3.8/site-packages (0.20.1)
Requirement already satisfied: numpy>=1.18 in /Users/vaishaligupta/opt/anaconda3/lib/python3.8/site-packages (from xarray) (1.20.1)
Requirement already satisfied: pandas>=1.1 in /Users/vaishaligupta/opt/anaconda3/lib/python3.8/site-packages (from xarray) (1.2.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/vaishaligupta/opt/anaconda3/lib/python3.8/site-packages (from pandas>=1.1->xarray) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /Users/vaishaligupta/opt/anaconda3/lib/python3.8/site-packages (from pandas>=1.1->xarray) (2021.1)
Requirement already satisfied: six>=1.5 in /Users/vaishaligupta/opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=1.1->xarray) (1.15.0)
Requirement already satisfied: netcdf4 in /Users/vaishaligupta/opt/anaconda3/lib/python3.8/site-packages (1.5.8)
Requirement already satisfied: numpy>=1.9 in /Users/vaishaligupta/opt/anaconda3/lib/python3.8/site-packages (from netcdf4) (1.20.1)
Requirement already satisfied: cftime in /Users/vaishaligupta/opt/anaconda3/lib/python3.8/site-packages (from netcdf4) (1.5.1.1)

In [8]:
import xarray as xr

# Annual Dataset

In [10]:
path = '/Users/vaishaligupta/Desktop/IT 7th Sem/DM project/Datasets/yearly/CDR_basins_l24030025450_2021-12-07062500pm.nc'

# Netcdf4 file to df & Load the dataset
ds = xr.open_dataset(path,engine='netcdf4')
df = ds.to_dataframe()
df.to_csv("annual_dataset.csv")
df = pd.read_csv("annual_dataset.csv")
df.head()

# Clean the dataset
remove_rows = []
for i in df.index :
    if df.loc[i,'precip'] == -99.0 :
        remove_rows.append(i)
df.drop(remove_rows, inplace=True)

# Get altitudes
elevation = {}
for i in df.index :
    key = str(df.loc[i,'lat']) + " " + str(df.loc[i,'lon'])
    if key in elevation :
        df.loc[i,'altitude'] = elevation[key]
    else :
        elevation[key] = altitudo(lat=df.loc[i,'lat'], lon=df.loc[i,'lon'])# Returns meters by default
        df.loc[i,'altitude'] = elevation[key]
        
# Remove unnecessary columns
df.head()
cols = ['crs']
df.drop(cols, axis = 1, inplace=True)
    
# Save the dataset
df.to_csv('clean_annual_dataset.csv')

In [12]:
df.isna().sum()

lon         0
lat         0
datetime    0
precip      0
altitude    0
dtype: int64

In [13]:
df.describe()

                lon           lat        precip      altitude
count  87657.000000  87657.000000  87657.000000  87657.000000
mean      85.074734     27.183770   1268.379325   1641.558655
std        6.192002      2.071022    664.946090   1990.723919
min       73.500000     22.750000    165.827730      1.000000
25%       79.750000     25.500000    840.165700    147.000000
50%       84.500000     27.250000   1071.924300    428.000000
75%       90.500000     29.000000   1436.540500   3721.500000
max       97.500000     31.500000   5419.867700   6167.000000

# Monthly Dataset

In [14]:
path = '/Users/vaishaligupta/Desktop/IT 7th Sem/DM project/Datasets/monthly/CDR_basins_l24030025450_2021-12-07063337pm.nc'

# Netcdf4 file to df & Load the dataset
ds = xr.open_dataset(path,engine='netcdf4')
df = ds.to_dataframe()
df.to_csv("monthly_dataset.csv")
df = pd.read_csv("monthly_dataset.csv")
df.head()

# Clean the dataset
remove_rows = []
for i in df.index :
    if df.loc[i,'precip'] == -99.0 :
        remove_rows.append(i)
df.drop(remove_rows, inplace=True)

# Get altitudes
for i in df.index :
    key = str(df.loc[i,'lat']) + " " + str(df.loc[i,'lon'])
    if key in elevation :
        df.loc[i,'altitude'] = elevation[key]
    else :
        elevation[key] = altitudo(lat=df.loc[i,'lat'], lon=df.loc[i,'lon'])# Returns meters by default
        df.loc[i,'altitude'] = elevation[key]

# Remove unnecessary columns
df.head()
cols = ['crs']
df.drop(cols, axis = 1, inplace=True)
    
# Save the dataset
df.to_csv('clean_monthly_dataset.csv')

In [15]:
df.isna().sum()

lon         0
lat         0
datetime    0
precip      0
altitude    0
dtype: int64

In [16]:
df.describe()

                lon           lat        precip      altitude
count  1.025477e+06  1.025477e+06  1.025477e+06  1.025477e+06
mean   8.506239e+01  2.718199e+01  1.054150e+02  1.640035e+03
std    6.198057e+00  2.070721e+00  1.428125e+02  1.989949e+03
min    7.350000e+01  2.275000e+01  0.000000e+00  1.000000e+00
25%    7.975000e+01  2.550000e+01  7.251548e+00  1.470000e+02
50%    8.450000e+01  2.725000e+01  3.732407e+01  4.280000e+02
75%    9.050000e+01  2.900000e+01  1.596819e+02  3.689500e+03
max    9.750000e+01  3.150000e+01  1.497072e+03  6.167000e+03